* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.menu {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 250px;
    text-align: center;
}

.menu_title {
    width: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: xx-large;
}

.board_title {
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: xx-large;
}

.game_container {
    width: 100%;
    margin: auto;
    display: none;
}

.full_game_panel {
    width: 100%;
    display: flex;
}

#board {
    margin: auto;
    align-self: center;
}

.button {
    background-color: #430844;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    width: 250px;
}

.button_menu {
    display: block;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 16px;
}

.button_menu:hover {
    display: block;
    box-shadow: none;
    margin: 16px;
}

#left_game_panel {
    width: 28%;
    font-size: 128px;
    color: #000000;
    padding-top: 150px;
    text-align: center;
}

#central_game_panel {
    width: 44%;
}

#right_game_panel {
    width: 28%;
    font-size: 128px;
    color: #000000;
    padding-top: 150px;
    text-align: center;
}

.stat_title {
    font-size: 36px;
    display: block;
}

.highlight {
    box-shadow: inset 0 0 3px 3px rgba(23, 99, 34, 0.978);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 32px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #430844;
}

input:focus+.slider {
    box-shadow: 0 0 1px #430844;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}