* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

body {
    background-color: olivedrab;
    /*background-image: url('../img/interface/background_pic.jpg');*/
}

#menu {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 250px;
    text-align: center;
}

.menu_title {
    width: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    color: #f0d9b5;
    font-family: 'Amatic SC', cursive;
}

.board_title_container {
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: xx-large;
}

#board_title_id {
    color: beige;
    font-family: 'Mali', cursive;
}

#turn_to_move {
    width: auto;
    margin-right: auto;
    margin-left: 4px;
    text-align: center;
    font-size: x-large;
    color: beige;
    font-family: 'Mali', cursive;
}

#color_to_move_icon {
    width: auto;
    margin-left: auto;
    margin-right: 4px;
    width: 50px;
    transform: translateY(-2px);
    content: url(../img/chesspieces/wikipedia/wK.png);
}

#game_container_id {
    width: 100%;
    margin: auto;
    display: none;
}

.full_game_panel {
    width: 100%;
    display: flex;
    align-items: center;
}

#board {
    margin: auto;
    align-self: center;
    width: 500px;
}

.button {
    background-color: rgb(0 0 0 / 24%);
    /* Green */
    font-family: 'Amatic SC', cursive;
    border: none;
    color: #f0d9b5;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    width: 250px;
}

.button_menu {
    display: block;
    /*box-shadow: 0 0 1px 0 rgb(191 191 191 / 24%), 0 0 4px 0 rgb(191 191 191 / 60%);*/
    /*box-shadow: 0 0 16px 0 rgba(191, 191, 191, 0.24), 0 0 50px 0 rgba(191, 191, 191, 0.6);*/
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: xx-large;
    font-weight: bold;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
}

.button_menu:hover {
    display: block;
    box-shadow: none;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: xx-large;
    font-weight: bold;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
}

#left_game_panel {
    width: 31%;
    color: #000000;
    border: #000000;
    border-width: 1px;
    display: flex;
    align-items: center;
    padding-right: 8px;
    justify-content: center;
}

#central_game_panel {
    width: 38%;
    border: #000000;
    border-width: 1px;
}

#right_game_panel {
    width: 31%;
    font-size: 88px;
    color: #000000;
    border: #000000;
    border-width: 1px;
    display: block;
    align-items: center;
    padding-left: 8px;
}

.left_stat_container {
    width: auto;
    border: #000000;
    border-width: 1px;
    font-size: 88px;
    display: block;
    text-align: center;

}

#total_score_id {
    color: beige;
}

.below_game_panel {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    display: inline-flex;
    align-items: center;
}

.stat_title {
    display: block;
    font-size: xx-large;
    color: beige;
}

#finishedGameResultsPanel {
    margin: auto;
    width: 40%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    z-index: 1001;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;

}

.finishedGameResultsContainer {
    width: 100%;
    margin: auto;
    border: #000000;
    border-width: 1px;
    z-index: 1001;
    background-color: rgb(117 86 142);
}


#finishedGameTrophyImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    content: url(../img/results/owl00.PNG);
    z-index: 1001;
    background: transparent;
    padding: 32px;
    padding-top: 32px;
}

.finishedGameMsg {
    font-size: xx-large;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    color: #f0d9b5;
    font-family: 'Mali', cursive;
}

.line {
    width: 90%;
    height: 1px;
    border-bottom: 2px solid rgb(72, 72, 72);
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.finishedGameButtons {
    width: auto;
    display: flex;
    justify-content: center;
}

.highlight {
    box-shadow: inset 0 0 3px 3px rgba(23, 99, 34, 0.978);
}

#owlImage {
    position: absolute;
    margin-left: 55%;
    margin-top: -3%;
    width: 5%;
    content: url(../img/interface/owl_logo.png);
    z-index: 1000;
    background: transparent;
}

#opaque {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
    filter: alpha(opacity=80);
    opacity: 0.8;
    display: none;
}

#time_id {
    height: 20%;
    color: beige;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: none;
    animation-duration: 0.2s;
    animation-iteration-count: 1;


}

* html #opaque {
    position: absolute;
}

/* The animation code */
@keyframes textRed {
    from {
        color: beige;
    }

    to {
        color: rgb(200, 0, 0);
        font-size: 92px;
    }
}

@media only screen and (max-width: 1300px) {
    .full_game_panel {
        flex-direction: column;
        justify-content: center;
    }

    .full_game_panel>div {
        width: 90%;
        max-width: 500px;
    }
}


@media only screen and (max-width: 500px) {
    #board {
        width: 400px;
    }
}